/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display:flex;
<<<<<<< HEAD
  flex-direction: row;
  align-items: center;
  flex: 1;
  
=======
  padding:8px; 
  align-items: center;
  justify-content:space-between;
>>>>>>> 470c86eb0d99cdcbcb9a8795e08fb5a34a87f3d2

}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
  display:flex;
  
  
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
<<<<<<< HEAD
  margin:0px 8px;
=======
  display:flex;
  
}

.links {
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  /* margin-right:auto; */
  

}
.right-links {
  display:flex;
  align-items: flex-end;
  justify-content:space-around;
  margin-left:auto;
  
}

.notifications {
  display:flex;
  /* margin-bottom: 8px; */
>>>>>>> 470c86eb0d99cdcbcb9a8795e08fb5a34a87f3d2
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
<<<<<<< HEAD
  padding: 8px 24px;
  display:flex;
  
=======
  padding: 12px 24px;
  margin:5px;
>>>>>>> 470c86eb0d99cdcbcb9a8795e08fb5a34a87f3d2
}


a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  display:flex;
<<<<<<< HEAD
  gap:20px;
=======
  gap:10px;
  margin:0px;
  
>>>>>>> 470c86eb0d99cdcbcb9a8795e08fb5a34a87f3d2
  
}
